In [3]:
import yfinance as yf

msft = yf.Ticker("MSFT")

In [5]:
msft

yfinance.Ticker object <MSFT>

In [9]:
# # get all stock info (slow)
# msft.info

# # fast access to subset of stock info (opportunistic)
# msft.fast_info

# get historical market data
hist = msft.history(period="1mo")
hist.head()

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2023-02-27 00:00:00-05:00,252.460007,252.820007,249.389999,250.160004,21190000,0.0,0.0
2023-02-28 00:00:00-05:00,249.070007,251.490005,248.729996,249.419998,22491000,0.0,0.0
2023-03-01 00:00:00-05:00,250.759995,250.929993,245.789993,246.270004,27565300,0.0,0.0
2023-03-02 00:00:00-05:00,246.550003,251.399994,245.610001,251.110001,24808200,0.0,0.0
2023-03-03 00:00:00-05:00,252.190002,255.619995,251.389999,255.289993,30741300,0.0,0.0

In [10]:
# show meta information about the history (requires history() to be called first)
msft.history_metadata

{'currency': 'USD',
 'symbol': 'MSFT',
 'exchangeName': 'NMS',
 'instrumentType': 'EQUITY',
 'firstTradeDate': Timestamp('1986-03-13 09:30:00-0500', tz='America/New_York'),
 'regularMarketTime': Timestamp('2023-03-27 13:14:41-0400', tz='America/New_York'),
 'gmtoffset': -14400,
 'timezone': 'EDT',
 'exchangeTimezoneName': 'America/New_York',
 'regularMarketPrice': 275.84,
 'chartPreviousClose': 250.16,
 'priceHint': 2,
 'currentTradingPeriod': {'pre': {'start': Timestamp('2023-03-27 04:00:00-0400', tz='America/New_York'),
   'end': Timestamp('2023-03-27 09:30:00-0400', tz='America/New_York')},
  'regular': {'start': Timestamp('2023-03-27 09:30:00-0400', tz='America/New_York'),
   'end': Timestamp('2023-03-27 16:00:00-0400', tz='America/New_York')},
  'post': {'start': Timestamp('2023-03-27 16:00:00-0400', tz='America/New_York'),
   'end': Timestamp('2023-03-27 20:00:00-0400', tz='America/New_York')}},
 'dataGranularity': '1d',
 'range': '1mo',
 'validRanges': ['1d',
  '5d',
  '1mo',
  '3mo',
  '6mo',
  '1y',
  '2y',
  '5y',
  '10y',
  'ytd',
  'max']}